
  <style>
    body {
      margin: 0;
      font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
    }

    footer {
      background-color: #550fb1;
      color: #ffffff;
      padding: 40px 20px;
    }

    .footer-container {
      max-width: 1200px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 30px;
    }

    .footer-column {
      flex: 1;
      min-width: 220px;
    }

    .footer-title {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 12px;
    }

    .footer-link a {
      display: block;
      color: #ffffff;
      text-decoration: none;
      margin-bottom: 6px;
      font-size: 14px;
    }

    .footer-link a:hover {
      text-decoration: underline;
    }

    .social-icons a {
      margin-right: 10px;
      color: #ffffff;
      font-size: 20px;
      transition: color 0.3s;
    }

    .social-icons a:hover {
      color: #e06e6e;
    }

    .footer-bottom {
      text-align: center;
      font-size: 12px;
      margin-top: 30px;
      color: #ffffff;
    }
  </style>



  <footer>
    <div class="footer-container">
      <div class="footer-column">
        <div class="footer-title">Tienda de Ivancin</div>
        <p>Pasa horas de diversión con mis juegos.</p>
      </div>

      <div class="footer-column footer-link">
        <div class="footer-title">Enlaces</div>
        <a href="/inicio">Inicio</a>
        <a href="/productos">Productos</a>
        <a href="/contacto">Contacto</a>
      </div>

      <div class="footer-column">
        <div class="footer-title">Seguinos</div>
        <div class="social-icons">
          <i class="redes"><img src="" alt="instagram"></i>
          <i class="redes"><img src="" alt="tiktok"></i>
          <i class="redes"><img src="" alt="facebook"></i>
          <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://instagram.com"target="_blank" ><i class="fab fa-instagram"></i></a>
          <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://tiktok.com" target="_blank"><i class="fab fa-tiktok"></i></a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      © 2025 Tienda de Ivancin. Todos los derechos reservados.
    </div>
  </footer>



